@model BabyShop.Models.Thumbnail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Thumbnail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
